/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1 {
  font-size: 30;
  color: red;
}

button {
  width: 50px;
  height: 5px;
  display: block;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
