<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Blank Template</title>
		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Home</a></li>
					<li><a href="#">Home</a></li>
					<li><a href="#">Home</a></li>
					<li><a href="#">Home</a></li>
					<li><a href="#">Home</a></li>
					<li><img src="" alt="img"></li>
					<li><img src="" alt="img"></li>
				</ul>
			</nav>
		</header>
		<section class="sectOne mainLeft">
			<h1>Welcome To Our Cuisine Restaurant</h1>
			<form action="text"></form>
			<a class="button" href="#"></a>
			<ul>
				<li><img src="" alt="">252k</li>
				<li><img src="" alt="">62k</li>
				<li><img src="" alt="">55k</li>
			</ul>
		</section>
		<section class="sectTwo mainLeft">
			<span>About Us</span>
			<h2>Discover Our Restaurant Story</h2>
			<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, maxime. Odit non facere nihil provident. Illum nihil provident animi, est hic porro voluptas natus dolores eos, dolor temporibus omnis fugiat. Lorem Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa blanditiis suscipit est placeat voluptatem, iusto dolorum maxime, harum vitae facilis sunt possimus unde nihil quasi quae in aliquam non perspiciatis.</p>
			<a class="button"></a>
		</section>
		<section class="sectThree mainLeft">
			<span>Order Online Now</span>
			<h2>Our Specialty Cuisine</h2>
			<ul>
				<li><a href="#">Breakfast</a></li>
				<li><a href="#">Breakfast</a></li>
				<li><a href="#">Breakfast</a></li>
				<li><a href="#">Breakfast</a></li>
				<li><a href="#">Breakfast</a></li>
			</ul>
			<img src="" alt="image">
			<img src="" alt="image">
			<img src="" alt="image">
			<img src="" alt="image">
		</section>
		<section class="contactInfo mainRight">
			<section class="imageCollage ">
				<img src="" alt="image">
				<img src="" alt="image">
				<img src="" alt="image">
				<img src="" alt="image">
			</section>
			<section>
				<span>Book Table</span>
				<h2>Opening Hours</h2>
				<img src="" alt="call icon">
				<span>Call now</span>
				<span>123456789</span>
			</section>
			<section class="leftHours">
				<span>Monday to Tuesday</span>
				<span>09:00 am - 22:00 pm</span>
			</section>
			<section class="rightHours">
				<span>Friday to Sunday</span>
				<span>11:00 am - 20:00 pm</span>
			</section>
			<img src="" alt="Video">
			<section class="testomonials">
				<span>Testomonials</span>
				<h2>Customers Say</h2>
				<section>
					<img src="" alt="costumer picture">
					<span>Mr John Smith</span>
					<span>Art Director</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi nam dolore illum quasi voluptatibus recusandae alias tempora perspiciatis, quod rem architecto ullam nobis, repellendus veritatis, magnam dolor numquam quas deserunt?</p>
				</section>
			</section>
		</section>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
